/* #video {
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    z-index: -1;
    background-position: center;
    
    
} */

.device-container {
    width: 100%;
    background-image: url(../../images/mechanics-background.png);
    
}

.content-device {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem 8rem 4rem;
    

}

.aaa {
    margin-right: 3rem;
}

.social-content {
    display: flex;
    margin: 1.5rem 0;
    align-items: center;
}

.vertical-divider {
    
    border: 1px solid #000000;
    margin: 0 2rem;
}
.device-text h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: initial;
}

.device-text h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 1rem 0rem;
    text-align: initial;
}

.horizontal-line {
    width: 422px;
    border-top: 1px solid black;
    margin: 0.25rem 0;
}

.device-text h3 {
    margin: 1rem 0;
    text-align: initial;
    font-weight: 700;
font-size: 24px;
line-height: 28px;
}

.social-content h4 {
    font-weight: 900;
    font-size: 20px;
    
    
    color: #FFFFFF;
   
}

.social-content img {
    margin: 0 1rem;
}

@media (max-width:1040px){
    .device-container {
        object-fit: cover;
       
        background-image: url(../../images/aaa-mobile.png);

    }
    .content-device {
        display: block;
    }
    .aaa {
        margin: 2rem 0rem;
    }
    .vertical-divider {
        display: none;
    }

    .device-text h5 {
        text-align: center;
    }

    .device-text h2 {
        text-align: center;
    }

    .device-text h3 {
        text-align: center;
    }

    .horizontal-line {
        width: auto;
        border-top: 1px solid black;
    margin: 0.25rem 0;
    }

    .social-content {
        text-align: center;
        justify-content: center;
    }
}




