.content-container {
    display: block;
    max-width: 100%;
    background: url(../../images/BG_Frame.jpg);    
}
.content {
    display: flex;
    padding: 12rem 0rem;
    justify-content: center;    
}

.content-text {
    max-width: 25%;
    margin: 0.5rem 2rem;
    
}

.content-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: start;
    margin: 1rem 0rem;
}

.content-image img {
    width: 605px;
    height: 340px;
    
}

 @media (min-width:980px) and (max-width:1240px) {
    
    

    .content-text p {
        
        font-size: 18px;
    }

    .content-image img {
        max-width: 505px;
        max-height: 320px;

    }

    
    
} 

@media(max-width:990px) {
    .content{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        
        
    }

    .content-text{
        max-width: 60%;
        margin: 0 auto;
        
    }

    .content-text p {

        padding: 0;
        font-size: 14px;
    }

    .content-image {
        margin: 0 auto;
    }

    .content-image img {
        margin: 1rem auto;
        
        max-width: 332px;
        max-height: 187px;

    }

    
} 