.navbar {
    display: flex;
    width: 100%;
    
    background: black;
}
.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    align-items: center;
    margin-right: 3rem ;
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
.vertical-line {
    margin: 0 0.75rem;
    border-left: 1px solid white;
    
}



.nav-link{
    list-style: none;
    color: white;
    align-items: center;
    font-size: 16px;
    max-width: 100%;
    cursor: pointer;
  
    
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

.hamburger {
    display: none;
}

.icon {
    color: #FFFFFF;
    font-size: 2rem;
}

@media screen and (max-width:980px) {
    .hamburger {
        display: block;
    }

    .nav {
        position: absolute;
        flex-direction: column;
        justify-content: start!important;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #000;
        transition: 0.3s;
    }

    .vertical-line {
        display: none;
    }

    .navbar-container {
      
        margin-right: 1rem ;
        
    }

    .nav-link{
        margin: 1rem auto;
      
        
    }

    .nav.active {
        left: 0;
    }

    .nav a {
        font-size: 1.4rem;
    }

}

@media (min-width: 980px) and (max-width:1400px){

    .nav-link{
        font-size: 11px;
    }
    .navbar-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        align-items: center;
        margin-right: 1rem ;
        
    }
}



