.mechanics-container {
    max-width: 100%;
    justify-content: center;
    padding: 2rem 0rem;
    background-image: url(../../images/mechanics-background.png);
    background-position: center center;
    
    
}

.game-content {
    max-width: 100%;
    
}

.game-content h2 {
    text-align: center;
    justify-content: center;
    font-family: "Evil Empire";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #000000;

}
.game-content p {
    text-align: center;
    justify-content: center;
    margin: 0.5rem;
    width: 731.33px;
    height: 57px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.game-content-flex {
    display: flex;
    margin: 3rem auto;
    justify-content: center;
}

.token-flex {
    display: flex;
}

.token-content{
    margin: 0 2rem;

}

.token-content h2{
    font-family: 'Evil Empire';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin: 3px 0px;
}

.token-content p {
    width: 250px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.hr-line {

}



@media (max-width:900px)  {
    .mechanics-container {
        padding: 2rem 0rem;
        max-width: 100%;
        object-fit: contain;
        background-image: url(../../images/mechanics-background-mobile.png);
        background-position: center center;
        
        
    }
    
    .game-content {
        max-width: 100%;
    }
    
    .game-content h2 {
       
    }
    .game-content p {
        width: 259.25px;
        height: 162px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        margin: 1.2rem auto;

    }
    
    .game-content-flex {
        display: block;
        justify-content: center;
       
    }
    
    .token-flex {
        display: block;
        justify-content: center;
        text-align: center;
        margin: 3rem 0rem;
    }

    .token-flex img {
        text-align: center;
        justify-content: center;
      
    }
    
    .token-content p {
        width: 293px;
        height: 54px;
        margin: 1rem auto;
    }

    
    
    .token-content h2{
        font-family: 'Evil Empire';
       
    }
}